.header {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    position: fixed ;
}

.space {
    height: 105px;
    width: 100vw;
}

.upperNav {
    width: 100%;
    height: 64px;

    padding: 16px 64px 16px 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLogo, .navbarUser {
    display: flex;
    align-items: center;
    transition: 0.3s;
    color: black
}

.navbarLogo:hover {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(35%) sepia(47%) saturate(3200%) hue-rotate(175deg) brightness(98%) contrast(101%);
}

.logoImg {
    margin-right: 16px;
}

.logoText {
    font-size: 24px;
    font-weight: bolder;
}

.logoImg, .userPicture {
    height: 44px;
}

.userSettings {
    height: 24px;
    margin-right: 16px;
}

.navigation {
    height: fit-content;
    font-size: 14px;
    padding: 8px 64px 16px 64px;
}

.button {
    padding: 32px 16px;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    color: black;
    transition: all .35s ease;
}

.button::before {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 16px;
    left: 0;
    background-color: rgba(0, 165, 207, 1);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s; 
    transition: all 0.3s ease-in-out 0s; 
}   

.button:hover {
    color: rgba(0, 165, 207, 1);
}

.button:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}   

.selected::before {
    visibility: visible;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}   
