.container {
  padding: 0 64px;
  display: flex;

}

.hline {
  margin: 32px 16px;
  width: 1px;
  background-color: black;
}

.users {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 44px;
  height: 64px;
  width: 40vw;
  max-width: 500px;
  min-width: 350px;
  /* background-color: red; */
}

.title input {
  padding: 4px 16px;
  font-family: Lato, sans-serif;
  height: 32px;
  width: 200px;
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #2a2d3449;
  outline: none;
}

.usersList {
  margin-bottom: 32px;
  width: 40w;
  max-width: 500px;
  min-width: 350px;
  height: calc(100vh - 105px - 64px - 64px);
  /* background-color: aqua; */
  padding-right: 34px;
  overflow-y: scroll;
}

.feedbackDetails {
  
  width: 55vw;
  margin: 32px 0;
  padding: 0 32px;
}

.detailedFeedbackUser {
  display: flex;
  align-items: center;
}

.detailedFeedbackUser img {
  height: 96px;
  margin-right: 16px;
}

.detailedFeedbackUserPersonalInfoText span {
  font-size: 14px;
  margin: 8px;
}

.detailedFeedbackUserPersonalInfoText h4 {
  font-size: 24px;
  margin: 4px 4px 4px 8px;
}

.detailedFeedbackUserPersonalInfoText p {
  font-size: 16px;
  margin: 0 8px;
  color: #4e5158;
}

.detailedFeedbackText h4,
.detailedFeedbackABSA h4 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.detailedFeedbackText p {
  /* min-height: 100px; */
  height: 100%;
  margin: 0;
  margin-right: 16px;
}

.detailedFeedbackTextDiv {
  width: 70%;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
}

.resultsABSA {
  display: flex;
}

.stratifiedResultsABSA {
  height: fit-content;
  width: 50%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 24px;
}

.stratifiedResultsABSA img {
  height: 40px;
}

.stratifiedResultsABSA ul li {
  margin-top: 4px;
}
